<div class="banner">About klaculate</div>
<div><a href="/">klaculate</a> was created as a useful and informative calculator.  Its purpose is to teach the basic
order of operations for simple math problems, showing each individual step along the way to a correct answer.</div>
<div>Even though klaculate is a CaaS (calculator-as-a-service), it is open source.  Improvements and even whole new
features are accepted, just send a PR.  If you find an error, please report it.</div>
<ul>
	<li>Open-Source: <a href="https://github.com/LadySerenaKitty/klaculate">https://github.com/LadySerenaKitty/klaculate</a></li>
	<li>Error Reporting: <a href="https://github.com/LadySerenaKitty/klaculate/issues">https://github.com/LadySerenaKitty/klaculate/issues</a></li>
	<li>Sending Patches: <a href="https://github.com/LadySerenaKitty/klaculate/pulls">https://github.com/LadySerenaKitty/klaculate/pulls</a></li>
</ul>
<hr>
klaculate runs on <a href="https://www.freebsd.org/">FreeBSD</a>
