<div class="math parens exp mult divi add sub">
	Supported operators:
	<ul>
		<li><span class="math exp">e</span> :: <a href="https://en.wikipedia.org/wiki/Scientific_notation" target="_new">Scientific Notation</a></li>
		<li><span class="math parens">(</span> and <span class="math parens">)</span> :: Isolate a smaller equation inside a bigger one.</li>
		<li><span class="math exp">^</span> :: <a href="https://en.wikipedia.org/wiki/Exponentiation" target="_new">Exponentiation</a></li>
		<li><span class="math mult">*</span> or <span class="math mult">x</span> :: <a href="https://en.wikipedia.org/wiki/Multiplication" target="_new">Multiplication</a></li>
		<li><span class="math divi">/</span> :: <a href="https://en.wikipedia.org/wiki/Division_(mathematics)" target="_new">Division</a></li>
		<li><span class="math divi">%</span> :: <a href="https://en.wikipedia.org/wiki/Modulo_operation" target="_new">Modulo</a></li>
		<li><span class="math add">+</span> :: <a href="https://en.wikipedia.org/wiki/Addition" target="_new">Addition</a></li>
		<li><span class="math sub">-</span> :: <a href="https://en.wikipedia.org/wiki/Subtraction" target="_new">Subtraction</a></li>
	</ul>
</div>
<div class="math">
	Examples:
	<ul>
		<li><a href="{scheme}://{host}/MSsyKjM=/">1 + 2 * 3</a></li>
		<li><a href="{scheme}://{host}/Mys0LzItNA==/">3 + 4 / 2 - 4</a></li>
		<li><a href="{scheme}://{host}/NC8yXjItNA==/">4 / 2 ^ 2 - 4</a></li>
		<li><a href="{scheme}://{host}/MSsyLTMqMys0XjI=/">1 + 2 - 3 * 3 + 4 ^ 2</a></li>
		<li><a href="{scheme}://{host}/MS0yKjMqNA==/">1 - 2 * 3 * 4</a></li>
		<li><a href="{scheme}://{host}/Ny0xKjArMy8z/">7 - 1 * 0 + 3 / 3</a></li>
	</ul>
	From twitter:
	<ul>
		<li><a href="{scheme}://{host}/NTArNTArMjUqMCs0KzQ=/">50 + 50 + 25 * 0 + 4 + 4</a></li>
		<li><a href="{scheme}://{host}/Ni8yKigxKzIp/">6 / 2 (1 + 2)</a></li>
		<li><a href="{scheme}://{host}/MyszKjA=/">3 + 3 * 0</a></li>
		<li><a href="{scheme}://{host}/ODAwMCsxMC00OCoxLzIqKDMqNCk=/">8000 + 10 - 48 * 1 / 2 (3 * 4)</a></li>
		<li><a href="{scheme}://{host}/MiozKzQtNis0KjEvMg==/">2 * 3 + 4 - 6 + 4 * 1 / 2</a></li>
	</ul>
</div>
