<div class="parens exp mult divi add sub">
	Supported operators:
	<ul>
		<li><span class="math parens">(</span> and <span class="math parens">)</span> :: Isolate a smaller equation inside a bigger one.</li>
		<li><span class="math exp">^</span> or <span class="math exp">e</span> :: <a href="https://en.wikipedia.org/wiki/Exponentiation">Exponentiation</a></li>
		<li><span class="math mult">*</span> or <span class="math mult">x</span> :: <a href="https://en.wikipedia.org/wiki/Multiplication">Multiplication</a></li>
		<li><span class="math divi">/</span> :: <a href="https://en.wikipedia.org/wiki/Division_(mathematics)">Division</a></li>
		<li><span class="math divi">%</span> :: <a href="https://en.wikipedia.org/wiki/Modulo_operation">Modulo</a></li>
		<li><span class="math add">+</span> :: <a href="https://en.wikipedia.org/wiki/Addition">Addition</a></li>
		<li><span class="math sub">-</span> :: <a href="https://en.wikipedia.org/wiki/Subtraction">Subtraction</a></li>
	</ul>
</div>
