body {
	margin: auto;
	padding: 16px;
	border: none;
	background: #000000;
	color: #c9c9c9;
	font-family: 'B612 Mono', monospace;
	font-size: 20px;
	tab-size: 4;
}

a {
	color: #00ff00;
	text-decoration: none;
}
a:hover:before {
	content: "> ";
}
a:hover:after {
	content: " <";
}
a:hover {
	color: #ff00ff;
}
a:before {
	content: "[ ";
	color: #00ffff;
}
a:after {
	content: " ]";
	color: #00ffff;
}
a.nobrak:before {
	content: "";
}
a.nobrak:after {
	content: "";
}

img {
	border: none;
}

input {
	color: #c9c9c9;
	border: 1px solid #c9c9c9;
	background: #000000;
	font-family: 'B612 Mono', monospace;
	font-size: 20px;
}

form, .fdiv {
	border-radius: 10px;
	width: 100%;
}
form > * {
	padding: 5px;
	border-radius: 10px;
}
.header > span {
	display: inline-block;
}

.emoji {
	color: #ffffff;
}

.kittyface {
	text-align: right;
	float: right;
}

.kittyface:hover:before {
	content: "🐾";
	color: #ffffff;
}

div.banner {
	font-size: 150%;
}

div.math {
	border: 1px solid #7f7f7f;
	border-radius: 15px;
	margin: 15px;
	padding: 15px;
	background: #2b2b2b;
}

div.parens {
	border: 1px solid #7f7f7f;
	border-left: 10px solid;
	border-right: 10px solid;
	border-radius: 30px;
}

div.parens > span.parens { font-weight: bold; }
div.exp > span.exp { font-weight: bold; }
div.mult > span.mult { font-weight: bold; }
div.divi > span.divi { font-weight: bold; }
div.add > span.add { font-weight: bold; }
div.sub > span.sub { font-weight: bold; }

div.math > div > span.explain {
	float: right;
}

div.exp > span.explain:before { content: "Exponent "; color: #ffffff; }
div.mult > span.explain:before { content: "Multiply "; color: #ff7fff;}
div.divi > span.explain:before { content: "Divide "; color: #ffff00; }
div.add > span.explain:before { content: "Add "; color: #00ff00;}
div.sub > span.explain:before { content: "Subtract "; color: #ff7f7f; }

div.exp > span.explain > span.subsplain:before { content: "to the power of"; }
div.mult > span.explain > span.subsplain:before { content: "and"; }
div.divi > span.explain > span.subsplain:before { content: "over"; }
div.add > span.explain > span.subsplain:before { content: "to"; }
div.sub > span.explain > span.subsplain:before { content: "from"; }

span.result:before { content: "Resulting in "; color: #c9c9c9; }
span.result { float: right; }

div.exp > span.result { color: #ffffff; }
div.mult > span.result { color: #ff7fff; }
div.divi > span.result { color: #ffff00; }
div.add > span.result { color: #00ff00; }
div.sub > span.result { color: #ff7f7f; }

span.parens { color: #00ffff; }
span.exp { color: #ffffff; }
span.mult { color: #ff7fff; }
span.divi { color: #ffff00; }
span.add { color: #00ff00; }
span.sub { color: #ff7f7f; }

ul.answers > li {
	white-space: pre;
}
